

<head>
    <title>APSIT Thane</title>
    <style type="text/css">
    <!--
    .error {color:#A80000}
    body {font:90% Verdana, Arial, sans-serif;color:#404040}
    #wrapper {width:800px;margin:0 auto;border:1px solid #606060}
    #main {text-align:left;padding:15px}
    #header {font:bold 130% Verdana, Arial, sans-serif;color:white;width:100%;height:6em;text-align:center;background:#00003D;line-height:2em}
    #footer {font-size:75%;text-align:center;width:100%}
    input {border:1px solid #606060; background: #DDDDDD}
    p {line-height:130%}
    -->
    </style>
    </head>
    <body>
    <center>
    
    <div id="wrapper">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
        
        <img src=http://moodle.apsit.org.in/rl.jpg height=150></img><div id="header"><Color=Red>PARSHVANATH CHARITABLE TRUST'S<br><font size=6 Color=orange>A.P.SHAH INSTITUTE OF TECHNOLOGY</font><br>Kasarvadvali, Ghodbandar Road, Thane(W)-400615</div>
        <center>
            <br><br>
        <!----<a style="text-decoration: none" href="feedback/index.php"><button style="border:1px ; background-color:blue"><font color=yellow size=5><b><blink>Online Feedback</blink></font></button></a><br><br>
        <a style="text-decoration: none" href="pctce/index.php"><button><font color=Red><b>Student Database</font></button></a><br>
        <h2><a style="text-decoration: none" href="staff/index.php"><button><font color=blue><b>Staff Database</font></button></a><br> --->
    <h2><blink><a style="text-decoration: none" href="http://admission.apsit.org.in/new/"><img src=http://moodle.apsit.org.in/ar.gif><button><font size=2 color=Purple><b>ONLINE PAYMENT PORTAL FOR STUDENTS@APSIT</font></button></a><br></blink></h2>
    <h2><blink><a style="text-decoration: none" href="http://moodle.apsit.org.in/moodle/"><img src=http://moodle.apsit.org.in/ar.gif><button><font size=2 color=Red><b>MOODLE:E-LEARNING MANAGEMENT SYSTEM@APSIT</font></button></a><br></blink></h2>
    <h1><blink><a style="text-decoration: none" href="http://webstore.apsit.org.in/store"><img src=http://moodle.apsit.org.in/ar.gif><button><font size=2 color=Green><b>WEBSTORE:ACADEMIC RECORDS DIGITAL REPOSITORY@APSIT</font></button></a><br></blink></h1>
    <h1><blink><a style="text-decoration: none" href="http://webstore.apsit.org.in/handbook"><img src=http://moodle.apsit.org.in/ar.gif><button><font size=2 color=Magneta><b>ONLINE STUDENT'S HANDBOOK:STUDENT INFORMATION PORTAL FOR MENTORS</font></button></a><br></blink></h1>
    <h1><blink><a style="text-decoration: none" href="http://webstore.apsit.edu.in:8080/Automation/"><img src=http://moodle.apsit.org.in/ar.gif><button><font size=2 color=Brown><b>EXAMINATION FORMS(REVALUATION/PHOTOCOPY/THEORY)@APSIT</font></button></a><br></blink></h1>
    <h1><blink><a style="text-decoration: none" href="http://moodle.apsit.org.in/orangehrmR-3.1.2/symfony/web/index.php/auth/login"><img src=http://moodle.apsit.org.in/ar.gif><button><font size=2 color=Orange><b>ORANGEHRM:LEAVE MANAGEMENT SYSTEM FOR FACULTIES@APSIT</font></button></a><br></blink></h1>
    <h1><blink><a style="text-decoration: none" href="http://moodle.apsit.org.in/iok/feedback"><img src=http://moodle.apsit.org.in/ar.gif><button><font size=2 color=Blue><b>ONLINE FEEDBACK MANAGEMENT SYTEM FOR STUDENTS@APSIT</font></button></a><br></blink></h1>
    <h1><blink><a style="text-decoration: none" href="http://192.168.200.200:8001"><img src=http://moodle.apsit.org.in/ar.gif><button><font size=2 color=Grey><b>KOHA:ONLINE LIBRARY MANAGEMENT SYSTEM@APSIT</font></button></a><br></blink></h1>
    <!--h2><blink><a style="text-decoration: none" href="http://192.168.100.230/cgi-bin/chpasswd.cgi"><img src=http://moodle.apsit.org.in/ar.gif><button><font size=4  color=Blue><b>UPDATE YOUR INTERNET ACCESS PASSWORD</font></button></a><br></blink></h2>
    <h1><blink><a style="text-decoration: none" href="ftp://192.168.25.25"><img src=http://moodle.apsit.org.in/ar.gif><button><font size=4  color=Green><b>CENTRAL REPOSITORY OF SW:FTP SERVER</font></button></a><br></blink></h1>
    
    
        <!----<h2><a style="text-decoration: none" href="maintenance/index.php"><button><font color=Brown><b>Maintenance Department</font></button></a><br> ---->
    </div>
        
    
    <div id="footer"> Authentication by <a href="">A.P.SHAH INSTITUTE OF TECHNOLOGY</a> Copyright &copy; 2014. Developed by  Sachin H. Malave & Kiran Deshpande  
    
    <br><br><font color=red>*Please, use Google Chrome  to access site.</font>
        </div>
    
    </body>
    </html>
    