<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

</head>

<body style="background-color: #f0f0f0; text-align: center; font-family: Arial, sans-serif;">
    <h1 style="color: #0070e0; margin-top: 100px;">Welcome to text analyazer </h1>
    <h1 style="color: #0070e0; ">Enter ur text here</h1>

    <form action="/analyze" method="get">
        <textarea name='text' style="width: 946px; height: 128px;"></textarea>
        <br><br>
        <input type="checkbox" name="rf">RemoveFunction</input>
        <br><br>
        <input type="checkbox" name="cf">CapitalizeFunction</input>
        <br><br>
        <input type="checkbox" name="rl">Remove NewLines</input>
        <br><br>
        <input type="checkbox" name="sr">Remove Space</input>
        <br><br>
        <input type="checkbox" name="cc">Character count</input>
        <br><br>
        <button style="color: #0070e0;height:58px ;width: 90px;text-size-adjust:50px;" type="submit">Analyze
            text</button>

    </form>
</body>

</html>